---
import Layout from "../layouts/Layout.astro";
import Pintora from "~";

const example1 = `componentDiagram
  [component1] --> [component2] : label`;
const example2 = `componentDiagram
  [Triggering a syntax error with an unescaped colon:] as A`;
const example3 = `sequenceDiagram
  title: Sequence Diagram Example
  autonumber
  User->>Pintora: render this
  activate Pintora
  loop Check input
    Pintora-->>Pintora: Has input changed?
  end
  Pintora-->>User: your figure here
  deactivate Pintora
  @note over User,Pintora: note over
  @note right of User: note aside actor
  @note right of User
  multiline note
  is possible1
  @end_note
  == Divider ==`;
---

<Layout title="Welcome to Astro.">
  <main class="main">
    <Pintora code={example1} />

    <Pintora
      code={example1}
      renderOptions={{
        pintoraConfig: { themeConfig: { theme: "dark" } },
      }}
    />

    <Pintora
      code={example1}
      renderOptions={{
        pintoraConfig: { themeConfig: { theme: "dark" } },
        backgroundColor: "transparent",
      }}
    />

    <Pintora code={example2} />

    <Pintora code={example3} />
  </main>
</Layout>

<style>
  .main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
